*{
    font-family: 'DM Sans';
}

.svg{
    display: inline-block;;
    width: 20px;
    height: 20px;
    background-size: cover;
}
.svg-pinteres{
    background-image: url('./assets/shared/desktop/pinterest2.svg');
}


.svg-pinteres:hover{
    background-image: url('./assets/shared/desktop/pinterest.svg');
}

.svg-twitter{
    background-image: url('./assets/shared/desktop/twitter2.svg');
}


.svg-twitter:hover{
    background-image: url('./assets/shared/desktop/twitter.svg');
}
.svg-youtube{
    background-image: url('./assets/shared/desktop/youtube2.svg');
}


.svg-youtube:hover{
    background-image: url('./assets/shared/desktop/youtube.svg');
}
.svg-facebook{
    background-image: url('./assets/shared/desktop/facebook2.svg');
}


.svg-facebook:hover{
    background-image: url('./assets/shared/desktop/facebook.svg');
}
.svg-instagram{
    background-image: url('./assets/shared/desktop/instagram2.svg');
}


.svg-instagram:hover{
    background-image: url('./assets/shared/desktop/instagram.svg');
}



.click{
    transition: all ease-in-out 1000ms;
}

.click:hover::after{
   
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 10px;
    content: ' ';
    z-index: -10;
    transition: all ease-in-out 2000ms;
    background-image: linear-gradient(to right, #FFC593, #BC7198,#5A77FF);

}

